#jumbotron6 {
    background: url(/img/Nature/2016\ Virginia\ Trip-77.jpg) no-repeat center / contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:.50;
}

#jumbotron5 {
    background: url(/img/Contact/Raw-test.jpg)  no-repeat center / contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:.50;
}


#jumbotron4 {
    background: url(/img/City/DSC_0441.JPG) no-repeat center / contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:.50;
}

#jumbotron3 {
    background: url(/img/Wedding/bride2.jpg) no-repeat center / contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:.50;
}

#jumbotron2 {
    background: url(/img/Auto/DSC_1072.JPG) no-repeat center / contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:.50;
}

#jumbotron1 {
    background: rgba(0, 0, 0, 0.933) no-repeat center / contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#carousel {
    background-size: cover !important;
}

.navbar-title {
    font-family: 'Spartan', sans-serif !important;
  }

.nav-item {
    font-family: 'Spartan', sans-serif !important;
}

.introduction {
    font-family: 'Cinzel Decorative', sans-serif !important;
}

.carousel-item {
    font-family:'Cinzel Decorative', sans-serif !important;
}

.copyright {
    font-family: 'Spartan', sans-serif !important;
}

.shadow-effect {
    text-shadow: 20px 16px 14px rgb(1, 2, 2) !important;
}

.paragraph {
    font-family: 'Spartan', sans-serif !important;
    font-size: x-large !important;
}

@media (min-width: 600px) {
    footer {
        font-size: 1.25rem;
    }
}